body{
      font-family: Arial, sans-serif;

}
.title{
    width: 8cm;
  display: block;
  margin: auto;
  @media (min-width:768px) {
    width: 20cm;
  }
}
.about{
text-align: left;
line-break: 1;
font-size: 16px;
width: 15cm;
  margin: 0 auto 2rem auto;
  line-height: 1.5;
  color: #555;
  @media (min-width:768px) {
    width: 30rem;
  }
}
.container{
             
  max-width: 900px;   
  align-items: center;      
  margin: 0 auto 3rem auto;

   @media (min-width: 768px) {
      display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
   gap: 30px;  
   }
}

.box{
display: flex;
  flex-direction: column; 
  align-items: center; 
}
.box img{
 width: 300px;
  height: 250px;
 @media (min-width:425px) {
  width: 400px;
  height: 300px;
 }
 @media (min-width: 768px){
 width: 200px;
 height: 150px;

}}

.box h3{
    font-family: Courier New;
  font-size: 16px;
  margin-bottom: 0.5rem;
  line-height: 1.4;
 font-weight: lighter;
}